.kaufman__triangl {
  display: flex;
  position: absolute;
  top: 0px;
  right: -210px;
  background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
